<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="itemForm :: head">
    </head>
    <body>

<div class="container">

	<nav th:replace="itemForm :: nav"></nav>
	
	<div class='col-md-8'>
	<div class='row' th:each="item : ${itemList}" 
		style='margin-right: 0; margin-left: 0;'
	>
	
		<div class='col-md-1 col-xs-1 text-center'>
			<a 
				th:if="${#strings.equals(item.creatorFbId, #authentication.name)}"
				th:href="@{/item/{itemId}/modify(itemId=${item.id})}"
			>
			<span 
				style='font-size: 1.5em;' 
				class='glyphicon glyphicon-pencil'
			>
			</span>
			</a>
		</div>
	
		<div class='col-md-2 col-xs-2'
			style="border-top: 1px dotted gray; padding: 5px;">
			
			<a 
				th:href="@{item/{itemId}/view(itemId=${item.id})}"
				th:unless="${#strings.isEmpty(item.fileName)}">

			<img th:src="${'https://pagypics.kari.iki.fi/' + item.fileName}" 
				class="img-responsive center-block"
				style="height: 75px;"
			 />
			 
			 </a>
			
		</div>

		<div class='col-md-9 col-xs-8' 
			style="border-top: 1px dotted gray; height: 75px;">
			<div class='row'>
			<div class='col-md-4'>
			<p th:text="${#temporals.format(item.created, 'dd.M.YYYY HH:mm')}"></p>
			</div>
			<div class='col-md-5'>
				<input 	type="checkbox"
						class='form-control'
						data-toggle='toggle'
						data-on='Kadonnut'
						data-off='Löytynyt'
						th:checked='${item.type}'
						disabled='true'
						/>
			</div>
			</div>
			<div class='row'>
			<div class='col-md-12'>
			<p>
				<a 
				th:href="@{item/{itemId}/view(itemId=${item.id})}"
				th:text="${item.itemName}"></a>
			</p>
			</div>
			</div>
		</div>

	</div>
	</div>
        
</div>


	<script th:inline="javascript" >
	
	/*<![CDATA[*/
		
		
		/*]]>*/
		
	</script>
    </body>
</html>
