<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Pägy Lost&amp;Found</title>

	    <meta name="description" 
	          content="Sovellus kadonneiden ja löytyneiden esineiden palauttamiseksi omistajilleen" />
	    <meta property="fb:app_id" 
	    	th:attr="content=${@environment.getProperty('security.oauth2.client.clientId')}"
	    />
	    
	    <meta property="og:url"                th:attr="content=@{https://pagylostandfound.kari.iki.fi/item/{itemId}/view(itemId=${item.id})}" />
		<meta property="og:type"               content="article" />
		<meta property="og:title"              th:attr="content=${item.itemName}" />
		<meta property="og:description"
			th:attr="content=${#strings.length(item.itemDescr) > 120 ? #strings.substring(item.itemDescr, 0, 120) : item.itemDescr}" />
		<meta property="og:image"
			th:unless="${#strings.isEmpty(item.fileName)}"              
			th:attr="content=${'https://pagypics.kari.iki.fi/' + item.fileName}" />
	
		<meta property="og:locale"			content="fi_FI" />	    
    
	    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/dropzone.min.js'></script>
	    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/basic.min.css' />
	    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/dropzone.min.css' />
	
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	
		<style th:replace="itemForm :: style"></style>

    </head>
    <body>

<div class="container">

	<nav th:replace="itemForm :: nav"></nav>
	
		<div id="fb-root"></div>
		
		<div class='row'>

		<div class='col-md-11 col-xs-11'><strong>Tallennusajankohta</strong></div>
		<div class='col-md-11  col-xs-11'><p th:text="${item.created}"></p></div>
	
		<div class='col-md-1 col-xs-1 pull-right'>
			<a 
				th:if="${#strings.equals(item.creatorFbId, #authentication.name)}"
				th:href="@{/item/{itemId}/modify(itemId=${item.id})}"
			>
			<span 
				style='font-size: 1.5em;' 
				class='glyphicon glyphicon-pencil'
			>
			</span>
			</a>
		</div>

		<div class='col-md-11 col-xs-11'><strong>Edellinen muokkaus</strong></div>
		<div class='col-md-11 col-xs-11'><p th:text="${item.updated}"></p></div>


		<div class='form-group col-md-10 col-xs-10'>
		<input 	type="checkbox"
				class='form-control'
				id='type'
				name='type'
				data-toggle='toggle'
				data-on='Kadonnut'
				data-off='Löytynyt'
				th:checked='${item.type}'
				disabled='true'
				/>
		</div>


		</div>

		<div class='row'>
		<div class='col-md-12'><strong>Lyhyt nimi</strong></div>
		<div class='col-md-12' ><p th:text="${item.itemName}"></p></div>
        
		<div class='col-md-12'><strong>Esineen, löytöpaikan ja -tilanteen kuvaus</strong></div>
		<div class='col-md-12' ><p th:text="${item.itemDescr}"></p></div>
		
		<div class='col-md-12'><strong>Yhteystieto</strong></div>
		<div class='col-md-12' >
			<p 
				th:unless="${item.contactDetail != null && #strings.startsWith(item.contactDetail, 'https://facebook.com/')}"
				th:text="${item.contactDetail}"></p>
			<p 
				th:if="${item.contactDetail != null && #strings.startsWith(item.contactDetail, 'https://facebook.com/')}"
			>
			<a 
				th:href="${item.contactDetail}"
				th:text="${item.contactDetail}"
			></a></p>
		</div>
		</div>
		
		<div class='col-md-12'>
			<div class='col-md-6' id='map' style='margin-top: 1em; margin-bottom: 1em;'>
			</div>
			<div class='col-md-6' >
				<img 
					th:unless="${#strings.isEmpty(item.fileName)}" 
					th:src="${'https://pagypics.kari.iki.fi/' + item.fileName}"
					class='img-responsive'
					style='max-height: 18em;'
				 />
			</div>
		</div>
		
		<div class='col-md-12'>
		<div class="fb-like" 
    		th:attr="data-href=@{https://pagylostandfound.kari.iki.fi/item/{itemId}/view(itemId=${item.id})}" 
    		data-layout="button" 
    		data-action="like" 
    		data-sixe="small"
    		data-show-faces="true"
    		data-share="true">
   		</div>
		<div class='col-md-12'>
		<div class="fb-comments" th:attr="data-href=@{https://pagylostandfound.kari.iki.fi/item/{itemId}/view(itemId=${item.id})}" data-numposts="5"></div>
		</div>
		</div>        
</div>


	<script th:inline="javascript" >
	
	/*<![CDATA[*/
		
		var map;
		var markerLoc = { 
				lat: /*[[${item.lat != 0.0} ? ${item.lat} : 60.259812]]*/ 60.259812, 
				lng:  /*[[${item.lng} != 0.0 ? ${item.lng} : 24.804769]]*/ 24.804769 };
		
		var marker;
		
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'),  {
				center: markerLoc,
				zoom: 15
			});
			marker = new google.maps.Marker({
			    position: markerLoc,
			    map: map
		  	});
			placeMarkerAndPanTo(markerLoc, map);
		}
		
		function placeMarkerAndPanTo(latLng, map) {
			marker.setPosition(latLng);	
			map.panTo(latLng);
		}
		
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = '//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.9&appId=[[${@environment.getProperty('security.oauth2.client.clientId')}]]';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));


		
		/*]]>*/
		
	</script>
	<script async='true' defer='true'
      	src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDha7l6IhMeZjlWxd3YXoQkGGzVShs37NQ&amp;callback=initMap'>
    </script>
    </body>
</html>
