<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Pägy Lost&amp;Found</title>

    <meta name="description" 
          content="Sovellus kadonneiden ja löytyneiden esineiden palauttamiseksi omistajilleen" />
    <meta property="fb:app_id" content="145477019335493" />
    
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/dropzone.min.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/basic.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.0.1/min/dropzone.min.css' />

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<style>
	.glyphicon-spin {
    	-webkit-animation: spin 1000ms infinite linear;
    	animation: spin 1000ms infinite linear;
	}
	@-webkit-keyframes spin {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(359deg);
	    transform: rotate(359deg);
	  }
	}
	@keyframes spin {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(359deg);
	    transform: rotate(359deg);
	  }
	}	
	
     #map {
       height: 18em;
     }
	
	</style>


    </head>
    <body>

<div class="container">

	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><span class='glyphicon glyphicon-home'></span></a>
		<ul class='nav navbar-nav'>
			<li><a href="/item/0/modify">Syötä uusi</a></li>
		</ul>
 		<ul class='nav navbar-nav pull-right'>
			<li>
			<a 	sec:authorize="isAuthenticated()"
				th:href="@{https://facebook.com/{id}(id=${#authentication.name})}" 
				th:text="${#authentication.userAuthentication.details.name}">test</a>
			<a 	sec:authorize="isAnonymous()"
				th:href="@{/login}" 
			>login</a>
			</li>
		</ul>
	</div>
	</nav>
		
	<form 
		id='itemForm'
		method='POST'
		th:object="${itemForm}"
		th:action="@{/item/{id}/modify(id=${itemForm.id == null ? 0 : itemForm.id})}"
	>
	
	<input type="hidden" th:field='*{id}' />
	
	<div class='row'>	
	<div class='form-group col-md-3 col-xs-5'>
		<label for='created'>Tallennusajankohta</label>
		<input 	type='text'
				class='form-control'
				id='itemName'
				name='itemName'
				th:field='*{created}'
				disabled='true'
				/>
	</div>
	<div class='form-group col-md-3 col-xs-5'>
		<label for='created'>Edellinen muokkaus</label>
		<input 	type='text'
				class='form-control'
				id='itemName'
				name='itemName'
				th:field='*{updated}'
				disabled='true'
				/>
	</div>
			<div class='col-md-1 col-xs-1 pull-right'>
			<a 
				th:if="${#strings.equals(itemForm.creatorFbId, #authentication.name)}"
				th:href="@{/item/{itemId}/view(itemId=${itemForm.id})}"
			>
			<span 
				style='font-size: 1.5em;' 
				class='glyphicon glyphicon-eye-open'
			>
			</span>
			</a>
			
		</div>
	
	</div>
	<div class='row'>
	<div class='form-group col-md-3 col-xs-5'>
		<input 	type="checkbox"
				class='form-control'
				id='type'
				name='type'
				data-toggle='toggle'
				data-on='Kadonnut'
				data-off='Löytynyt'
				th:field='*{type}'
				/>
	</div>
	<div class='form-group col-md-3 col-xs-5'>
		<input 	type="checkbox"
				class='form-control'
				id='enabled'
				name='enabled'
				data-toggle='toggle'
				data-on='Näkyvillä'
				data-off='Piilotettu'
				th:field='*{enabled}'
				/>
	</div>
	</div>

	<div class='form-group'>
		<label for='itemName'>Lyhyt nimi</label>
		<input 	type='text'
				class='form-control'
				id='itemName'
				name='itemName'
				th:field='*{itemName}'
				placeHolder='Esineen lyhyt nimi' />
	</div>

	<div class='form-group'>
		<label for='itemDesrc'>Esineen, löytöpaikan ja -tilanteen kuvaus</label>
		<textarea class='form-control' rows='5'
			id='itemDescr'
			th:field='*{itemDescr}'
			placeholder="Kuvaa esine, löytöpaikka ja löytötilanne. Esimerkiksi: Tummansininen poikien noin 12-tuumainen Cycler-merkkinen polkupyörä löydetty maanantai-aamupäivänä pusikosta ostarin vierestä n. 20 m R-kioskin ovelta Vapaalan suuntaan. Polkupyörän rungossa on tunnistettava tarra. Pyörä otettu talteen. Omistaja voi kysellä, jos osaa kertoa mikä kuva tarrassa on."
		></textarea> 
	</div>
	
	<div class='form-group'>
		<label for='contactDetail'>Yhteystieto</label>
		<input 	type='text'
				class='form-control'
				id='contactDetail'
				name='contactDetail'
				th:field='*{contactDetail}'
		 />
	</div>
	
	<input type='hidden' name='lat' id='lat' th:field="*{lat}" />
	<input type='hidden' name='lng' id='lng' th:field="*{lng}" />
	<input type='hidden' name='fileName' id='fileName' th:field="*{fileName}" />
	</form>
	
	<div class='col-md-12'>
	<div class='col-md-6' id='map' style='margin-top: 1em; margin-bottom: 1em;'>
	</div>
	<div class='col-md-6' id='fileDrop'
		style='margin-top: 1em; margin-bottom: 1em;'>
		<form 	class='dropzone'
				th:action='@{/imageUpload}'
				method='POST'
			 	th:unless="${imageUrl}"
			 	id='fileInputZone'
			 	style='height: 18em;'
		>
			<input type='file' name='file' style='display: none;'/>
		</form>
		<img th:if="${imageUrl}" th:src="${imageUrl}" class='img-responsive' 
			style='max-height: 18em;'/>
	</div>
	</div>
	
	 <button type='submit' class='btn btn-default' id='send'>Tallenna</button>
        
</div>


	<script th:inline="javascript" >
	
	/*<![CDATA[*/
		
		var map;
		var markerLoc = { 
				lat: /*[[${itemForm.lat != 0.0} ? ${itemForm.lat} : 60.259812]]*/ 60.259812, 
				lng:  /*[[${itemForm.lng} != 0.0 ? ${itemForm.lng} : 24.804769]]*/ 24.804769 };
		
		var marker;
		
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'),  {
				center: markerLoc,
				zoom: 15
			});
			marker = new google.maps.Marker({
				    position: markerLoc,
				    map: map
				  });
			placeMarkerAndPanTo(markerLoc, map);
			
			map.addListener('click', function(e) {
			    placeMarkerAndPanTo(e.latLng, map);
			  });
		}
		
		function placeMarkerAndPanTo(latLng, map) {
			marker.setPosition(latLng);	
			map.panTo(latLng);
			$('input#lat').val(marker.getPosition().lat());
			$('input#lng').val(marker.getPosition().lng());
		}
		
		$('button#send').on('click', function() {
			$('form#itemForm').submit();
		});
		
		Dropzone.options.fileInputZone = {
				parallelUploads: 1,
				maxFiles: 1,
				acceptedFiles: "image/*",
				init: function() {
					this.on('success', function (event, data) {
						if (data.status === 'ok') {
							$('input#fileName').val(data.fileName);
							console.log(data);
						}
					});	
				}
		};
		
		/*]]>*/
		
	</script>
	<script async='true' defer='true'
      	src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDha7l6IhMeZjlWxd3YXoQkGGzVShs37NQ&amp;callback=initMap'>
    </script>
    </body>
</html>
